header {
  background-color: #f8f9fa;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar-dark {
  background-color: #333;
  color: #ffffff;
}

body.dark-mode .btn-logout {
  background-color: #555;
  color: #ffffff;
}

body.dark-mode .form-control {
  background-color: #333;
  color: #ffffff;
  border-color: #555;
}

body.dark-mode .btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

body.dark-mode .btn-outline-light:hover {
  background-color: #ffffff;
  color: #121212;
}
